.gobernanza {
  /*    max-height: 810px; */
  background-image: url("../../../../assets/img/gobernanza/gobernanza.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  justify-content: normal;
  padding-top: 130px;
  min-height: max-content;
  padding-right: 0.75rem/* 12px */;
  display:grid ;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}




.h2 {
  padding-top: 75.75px;
  padding-bottom: 51px;
  text-shadow: 0px 3px 16.5px 0px rgba(0, 0, 0, 0.25);
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: 66px; /* 122.222% */
  letter-spacing: -2.7px;
}

.h3 {
  max-width: 494.25px;
  padding-bottom: 24px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.5px;
}

.p {
  max-width:  901.5px;
  padding-bottom: 67px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
}

.button2 {
  border-radius: 8px;
  width: 357px;
  height: 63px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f651f6;
  border: 1px solid;
  border-color: #f651f6;
  padding: 10px;
  background: rgba(0, 0, 0, 0.25);
  margin-right: 25px;
  margin-top: 25px;
}

.button2:hover {
  border: 1px solid;
  border-color: #f651f6;
  color: white;
  background-color: #f651f6;
}

@media (width <= 1024px) {

  .gobernanza {
    /*    max-height: 810px; */
    background-image: url("../../../../assets/img/gobernanza/gobernanza.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: normal;
    padding-top: 130px;
    min-height: max-content;
    padding-right: 0.75rem/* 12px */;
    display: block ;
    
  }


  .h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.05em;
    text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  }

  .h3 {
    max-width: 90vw;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    letter-spacing: -0.05em;
  }

  .p {
    max-width: 90vw;
    padding-bottom: 67px;
    font-size: 1.5rem;
    line-height: 39px;
    letter-spacing: -0.05em;
  }

  .button2 {
    border-radius: 8px;
    max-width: 90vw;
    height: auto;
    
    font-size: 1.5rem;
    font-weight: 700;
    color: #f651f6;
    border: 1px solid;
    border-color: #f651f6;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25);
    margin-top: 25px;
  }

  .button2:hover {
    border: 1px solid;
    border-color: #f651f6;
    color: white;
    background-color: #f651f6;
  }
}

@media (width <= 720px) {
  .h2 {
    text-shadow: 0px 1.9994605779647827px 10.997034072875977px 0px
      rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.7495rem;
    letter-spacing: -0.075rem;
  }

  .h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-bottom: 0.5rem;
  }

  .p {
    padding-bottom: 0;
    text-align: justify;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -0.05rem;
    max-width: 90vw;
  }

  .buttonContainer {
    max-width: 90vw;
    justify-content: center;
  }

  .button2 {
    height: 2rem;
    padding: 0.493rem 1.01506rem;
    width: 250px;
    color: #f651f6;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: -0.0375rem;
    border-radius: 4.733px;
    border: 1.088px solid #f651f6;
    background: rgba(0, 0, 0, 0.25);
  }

  .button2:hover {
    border: 1px solid;
    border-color: #f651f6;
    color: white;
    background-color: #f651f6;
  }
}
