#Descubrenos .mySwiperDescubrenosDesktop .swiper-button-prev {
  color: #ffffff;
  font-weight: 900;
}

#Descubrenos .mySwiperDescubrenosDesktop .swiper-button-next {
  color: #ffffff;
  font-weight: 900;
}

#Descubrenos .mySwiperDescubrenosDesktop .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
}

#Descubrenos .mySwiperDescubrenosDesktop .swiper-pagination-bullet-active {
  background-color: #fff;
}

#Descubrenos .mySwiperDescubrenosDesktop .swiper-pagination-bullet {
  background-color: #d9d9d9;
}

@media (width <= 2560px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 85px;
    left: 260px;
    width: 200px;
  }

  #Descubrenos .mySwiperDescubrenosDesktop .prev-button {
    position: absolute;
    top: 680px;
    left: 150px;
    z-index: 1;
  }

  #Descubrenos .mySwiperDescubrenosDesktop .next-button {
    position: absolute;
    top: 680px;
    left: 550px;
    z-index: 1;
  }
}

@media (width <= 1920px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 85px;
    left: 190px;
    width: 300px;
  }

  #Descubrenos .mySwiperDescubrenosDesktop .prev-button {
    position: absolute;
    top: 680px;
    left: 110px;
    z-index: 1;
  }

  #Descubrenos .mySwiperDescubrenosDesktop .next-button {
    position: absolute;
    top: 680px;
    left: 530px;
    z-index: 1;
  }
}

@media (width <= 1555px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 105px;
    left: 180px;
    width: 300px;
  }
}

@media (width <= 1465px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 135px;
    left: 180px;
    width: 300px;
  }
}

@media (width <= 1440px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 145px;
    left: 180px;
    width: 300px;
  }

  #Descubrenos .mySwiperDescubrenosDesktop .prev-button {
    position: absolute;
    top: 680px;
    left: 90px;
    z-index: 1;
  }

  #Descubrenos .mySwiperDescubrenosDesktop .next-button {
    position: absolute;
    top: 680px;
    left: 500px;
    z-index: 1;
  }
}

@media (width <= 1387px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 179px;
    left: 180px;
    width: 300px;
  }
}

@media (width <= 1300px) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 180px;
    left: 180px;
    width: 300px;
  }
}

@media (width <= 1283) {
  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 200px;
    left: 180px;
    width: 300px;
  }
}

@media (width <= 1280px) {
  #Descubrenos .mySwiper .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
  }

  #Descubrenos .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  #Descubrenos .mySwiperResponsive .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
  }

  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 0px;
    left: 475px;
    cursor: pointer;
    width: 300px;
  }

  #Descubrenos .mySwiperResponsive .prev-button {
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 1;
    cursor: pointer;
  }

  #Descubrenos .mySwiperResponsive .next-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 90vw;
    z-index: 1;
  }
}

@media (width <= 1250px) {
  #Descubrenos .mySwiper .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
  }

  #Descubrenos .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  #Descubrenos .mySwiperResponsive .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
  }

  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 100px;
    left: 50%;
    margin: -100px 0 0 -150px;
  }

  #Descubrenos .mySwiperResponsive .prev-button {
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 1;
    cursor: pointer;
  }

  #Descubrenos .mySwiperResponsive .next-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 90vw;
    z-index: 1;
  }
}

@media (width <= 480px) {
  #Descubrenos .mySwiper .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
  }

  #Descubrenos .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  #Descubrenos .mySwiperResponsive .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
  }

  #Descubrenos .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 103px;
    left: 50%;
    margin: -100px 0 0 -150px;
  }

  #Descubrenos .mySwiperResponsive .prev-button {
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 1;
    cursor: pointer;
  }

  #Descubrenos .mySwiperResponsive .next-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 90vw;
    z-index: 1;
  }
}