

#Separte .mySwiperDesktop .swiper-button-next {
  color: #ffffff;
  font-weight: 900;
  width: calc(var(--swiper-navigation-size)/ 2.5 * 27);
}

#Separte .mySwiperDesktop .swiper-button-prev {
  color: #ffffff;
  font-weight: 900;
  width: calc(var(--swiper-navigation-size)/ 2.5 * 27);
}

#Separte .mySwiperDesktop .swiper-pagination {
  position: initial;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  color: #ffffff;
}

#Separte .mySwiperNewSeparte .swiper-button-next {
  color: #ffffff;
  font-weight: 900;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
}

#Separte .mySwiperNewSeparte .swiper-button-prev {
  color: #ffffff;
  font-weight: 900;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
}

#Separte .mySwiperNewSeparte .swiper-button-prev svg {
  font-size: 10px !important;
  width: 10px !important;
}

#Separte .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 33vh;
  left: 30vw;
  width: 200px;
}
