.next-button {
  position: absolute; /* o relative según tus necesidades */
  right: -10px; /* Ajusta la posición horizontal según tus necesidades */
  bottom: 150px; /* Ajusta la posición vertical según tus necesidades */
  z-index: 1; /* Opcional, para controlar la superposición */
}

.prev-button {
  position: absolute; /* o relative según tus necesidades */
  right: 650px; /* Ajusta la posición horizontal según tus necesidades */
  bottom: 150px; /* Ajusta la posición vertical según tus necesidades */
  z-index: 1; /* Opcional, para controlar la superposición */
}
